body {
  background-color: gainsboro;
  color: rgb(82, 78, 78);
  font-family: Arial, Helvetica, sans-serif;
}

#list-placeholder {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.listElements {
  background-color: white;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 50%;
}

h4 {
  margin: 0;
  padding: 0.5rem 1rem;
}

input {
  padding: 0.5rem 1rem;
}

::placeholder {
  font-style: italic;
}

.elementList {
  list-style: none;
  margin: 1px 0;
  display: flex;
  border-bottom: 1px solid gray;
  padding: 0.5rem 1rem;
}

span {
  padding: 0 0.5rem;
}

.delete-button {
  border: none;
  width: 100%;
  padding: 1rem;
  color: rgb(110, 109, 109);
  font-size: large;
}